<!DOCTYPE html>
<html lang="kr">
    <div th:replace="~{fragment/header :: header}"></div>
	<body>
    <div th:replace="~{fragment/nav :: nav}"></div>
    <div th:replace="~{fragment/nav :: subnav}"></div>
<div class="container" id="main">
   <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default qna-list">
          <ul class="list">
              <!-- 게시글 없을 때 -->
              <li th:if="${#lists.isEmpty(articles)}">
                  <div class="wrap">
                      <div class="main">
                          <strong class="subject">게시글이 없습니다.</strong>
                      </div>
                  </div>
              </li>

              <!-- 게시글 있을 때 -->
              <li th:each="article : ${articles}">
                  <div class="wrap">
                      <div class="main">
                          <strong class="subject">
                              <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}"></a>
                          </strong>
                          <div class="auth-info">
                              <i class="icon-add-comment"></i>
                              <span class="time" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                              <span th:text="${article.writer}">작성자</span>
                              <!-- 조회수 / 추천수 표시 -->
                              <span class="article-stats">
                             조회수: <span th:text="${article.readCount}"></span>
                          </span>
                          </div>
                          <div class="reply" title="댓글">
                              <i class="icon-reply"></i>
                              <span class="point" th:text="${article.id}"></span>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>

          <!-- 페이지네이션 UI -->
          <div class="pagination">
              <a th:if="${page > 0}" th:href="@{/(page=${page - 1})}">이전</a>

              <span th:text="${page + 1} + ' / ' + ${totalPages}"></span>

              <a th:if="${page + 1 < totalPages}" th:href="@{/(page=${page + 1})}">다음</a>
          </div>

          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 text-center"></div>
              <div class="col-md-3 qna-write">
                  <a href="/articles" class="btn btn-primary pull-right" role="button">질문하기</a>
              </div>
          </div>
        </div>
    </div>
</div>
    <div th:replace="~{fragment/footer :: footer}"></div>
	</body>
</html>