<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SLiPP Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href="../index.html" class="navbar-brand">SLiPP</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <form class="navbar-form pull-left">
                <div class="input-group" style="max-width:470px;">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://slipp.net" target="_blank">SLiPP</a></li>
                        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    </ul>
                </li>
                <li><a href="../user/list.html"><i class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <li><a href="../../templates/user/profile.html"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            </button>            
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <!-- 🔹 로그인 상태가 아닐 때 -->
                <li th:if="${session.loginUser == null}"><a href="/users/login">로그인</a></li>
                <li th:if="${session.loginUser == null}"><a href="/users/saveForm">회원가입</a></li>

                <!-- 🔹 로그인 상태일 때 -->
                <!--                <li th:if="${session.loginUser != null}"><a href="/users/logout">로그아웃</a></li>-->
                <li th:if="${session.loginUser != null}">
                    <form th:action="@{/users/logout}" method="post">
                        <button type="submit" class="btn btn-link">로그아웃</button>
                    </form>
                </li>
                <li th:if="${session.loginUser != null}"><a th:href="@{'/users/' + ${session.loginUser.id} + '/form'}">개인정보수정</a></li>
                <li th:if="${session.loginUser != null}">
                    <span>환영합니다, <b th:text="${session.loginUser.userId}"></b> 님!</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
          <header class="qna-header">
              <h2 class="qna-title" th:text="${article.title}"></h2>
          </header>
          <div class="content-main">
              <article class="article">
                  <div th:if="${errorMessage}" class="alert alert-danger">
                      <p th:text="${errorMessage}"></p>
                  </div>

                  <div class="article-header">
                      <div class="article-header-thumb">
                          <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                      </div>
                      <div class="article-header-text">
                          <a href="/users/92/kimmunsu" class="article-author-name" th:text="${article.writer}"></a>
                          <a href="/questions/413" class="article-header-time" title="퍼머링크">
                              2015-12-30 01:47
                              <i class="icon-link"></i>
                          </a>
                      </div>
                  </div>
                  <div class="article-doc">
                      <p th:text="${article.contents}"></p>
                  </div>
                  <div class="article-util">
                      <ul class="article-util-list">
                          <li>
                              <a class="link-modify-article" th:href="@{/articles/edit/{articleId}(articleId=${article.id})}">수정</a>
                          </li>
                          <li>
                              <form class="form-delete" th:action="@{/articles/{articleId}(articleId=${article.id})}" method="POST">
                                  <input type="hidden" name="_method" value="DELETE">
                                  <button class="link-delete-article" type="submit">삭제</button>
                              </form>
                          </li>
                          <li>
                              <a class="link-modify-article" href="/">목록</a>
                          </li>
                      </ul>
                  </div>
              </article>

              <div class="qna-comment">
                  <div class="qna-comment-slipp">

                      <!-- 로그인한 사용자만 댓글을 볼 수 있도록 설정 -->
                      <th:block th:if="${session.loginUser != null}">
                          <p class="qna-comment-count"><strong>2</strong>개의 의견</p>
                          <div class="qna-comment-slipp-articles">

                              <article class="article" id="answer-1405">
                                  <div class="article-header">
                                      <div class="article-header-thumb">
                                          <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                      </div>
                                      <div class="article-header-text">
                                          <a href="/users/1/자바지기" class="article-author-name">자바지기</a>
                                          <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                              2016-01-12 14:06
                                          </a>
                                      </div>
                                  </div>
                                  <div class="article-doc comment-doc">
                                      <p>이 글만으로는 원인 파악하기 힘들겠다. 소스 코드와 설정을 단순화해서 공유해 주면 같이 디버깅해줄 수도 있겠다.</p>
                                  </div>
                                  <div class="article-util">
                                      <ul class="article-util-list">
                                          <li>
                                              <a class="link-modify-article" href="/questions/413/answers/1405/form">수정</a>
                                          </li>
                                          <li>
                                              <form class="delete-answer-form" action="/questions/413/answers/1405" method="POST">
                                                  <input type="hidden" name="_method" value="DELETE">
                                                  <button type="submit" class="delete-answer-button">삭제</button>
                                              </form>
                                          </li>
                                      </ul>
                                  </div>
                              </article>

                              <article class="article" id="answer-1406">
                                  <div class="article-header">
                                      <div class="article-header-thumb">
                                          <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                      </div>
                                      <div class="article-header-text">
                                          <a href="/users/1/자바지기" class="article-author-name">자바지기</a>
                                          <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                              2016-01-12 14:06
                                          </a>
                                      </div>
                                  </div>
                              </article>
                          </div>
                      </th:block>

                      <!-- 로그인하지 않은 경우 댓글을 숨기고, 로그인 안내 메시지 표시 -->
                      <th:block th:if="${session.loginUser == null}">
                          <p class="text-center text-danger">댓글을 보려면 로그인하세요.</p>
                          <a href="/users/login" class="btn btn-primary">로그인</a>
                      </th:block>

                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script type="text/template" id="answerTemplate">
	<article class="article">
		<div class="article-header">
			<div class="article-header-thumb">
				<img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
			</div>
			<div class="article-header-text">
				<a href="#" class="article-author-name">{0}</a>
				<div class="article-header-time">{1}</div>
			</div>
		</div>
		<div class="article-doc comment-doc">
			{2}
		</div>
		<div class="article-util">
		<ul class="article-util-list">
			<li>
				<a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
			</li>
			<li>
				<form class="delete-answer-form" action="/api/questions/{3}/answers/{4}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
                     <button type="submit" class="delete-answer-button">삭제</button>
				</form>
			</li>
		</ul>
		</div>
	</article>
</script>

<!-- script references -->
<script src="../js/jquery-2.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
	</body>
</html>